<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap call-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!--Call of the styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Site Monitorization</title>
</style>
</head>



<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4" id="HeaderText">Site Monitorization</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Site Monitorization 1</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Site Monitorization 2</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Alerts</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Incidents</a></li>
    </ul>
</header>

<!--Divider between header and body-->
<div class="b-example-divider"></div>

<body>
    <h2> Hello World! </h2>

<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li> 
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Page Monitoring 1</a></li> 
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Page Monitoring 2</a></li> 
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Alerts</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Incidents</a></li> 
    </ul> 
    <p class="text-center text-body-secondary">© 2025, Johannes Sequeira</p>
    <p class="text-center text-body-secondary">johannes.sequeiraf@gmail.com / johannes.sequeira@ibm.com</p> 
</footer> 



</body>

<!-- Bootstrap calls-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>